<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654339374220-a7hqq7hosvi4b2r92cobpuu5vpfogmrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654339374220-a7hqq7hosvi4b2r92cobpuu5vpfogmrl</string>
	<key>API_KEY</key>
	<string>AIzaSyDIJEgtI-d95wCDDqLOZoxYgVc0bYKSNqA</string>
	<key>GCM_SENDER_ID</key>
	<string>654339374220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Steven.DocMe1</string>
	<key>PROJECT_ID</key>
	<string>docme-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>docme-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654339374220:ios:04eea5be75562549adcfa9</string>
	<key>DATABASE_URL</key>
	<string>https://docme-ios.firebaseio.com</string>
</dict>
</plist>